#text-area{
    background:rgb(230,230,230);
    border-radius:20px;
    height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    border:5px solid black;
    font-weight:800;
    color:rgb(8, 187, 8);
  }
  #sentence{
    background:rgb(230,230,230);
    border-radius:20px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    border:5px solid black;
   
    font-weight:800;
  }
  .key{
    font-size:25px;
    line-height:25px;
    padding:5px;
    background:rgb(255,200,200);
    text-align:center;
  }
  .score{
    font-weight:800;
  }
 .next{
    font-weight:800;
  }